.profile {
  .logout-link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .email-info {
    display: flex;
    margin-bottom: 0.5rem;
    span {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}
.update-profile a.cancel {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
